*{
    margin: 0px;
}
#banner{
    background-color: #AF2C2C;
    width: 100%;
    height: auto;
}
.banner_child{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.banner_child>p,a {
    padding:0px 15px 0px 15px;
    color: white;
    font-weight:lighter;
    font-size: 13px;
    letter-spacing: 0.06rem;
    font-family: sans-serif;
}
#Sign_In{
    display: flex;
    justify-content: end;
    height: 50px;;
    width: 100%;
    background-color: rgb(239, 242, 247);
}
#Sign_In>a:hover{
    color: rgb(144, 147, 189);
}
#Sign_In>a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
#Sign_In>a>p{
    margin-left: 10px;
}
#search_bar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#search_bar>div>img{
    width:24%;
    height: 50px;
    border: 1px solid black;
}

#search_bar>div>input{
    border-radius: 7px;
    border: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#logo_section{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo_section>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
    height: 50px; 
}
#logo_section>div a{
    color: #AF2C2C;
    text-decoration: none;
}
#navbar_section{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: black;    
}
.navbar a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}